<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>998304890071-ac49a4d57va2nsidh7j2ivoicel8gu78.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.998304890071-ac49a4d57va2nsidh7j2ivoicel8gu78</string>
	<key>API_KEY</key>
	<string>AIzaSyB75i0s-B47Ty4PDHzyAGa8SHp9Vy2LOPU</string>
	<key>GCM_SENDER_ID</key>
	<string>998304890071</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.name.bitepartymark4</string>
	<key>PROJECT_ID</key>
	<string>bite-party</string>
	<key>STORAGE_BUCKET</key>
	<string>bite-party.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:998304890071:ios:bf95409726048f8e048492</string>
</dict>
</plist>